
.header{
   display:flex;
   justify-content: space-evenly;
    text-decoration: none;
    width:100%;
    height:100%;
    background-color: aquamarine;
    align-items: center;
}
.working{
    display: flex;
    flex-direction: column;
   align-items: center;

}
.workinprogress {
    width: 50%;
    height: 50%;
   margin-top:60px;

  }
  .workin{
    display: flex;
    justify-content: center;
  }
 