@import url("https://fonts.googleapis.com/css?family=Jura:400");
* {
  font-family: Jura, Arial;
  font-weight: 400;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
.container {
  display: grid;
  grid-template-columns: 1fr minmax(200px 400px) 1fr;
  grid-template-rows: 1fr minmax(auto 1fr) 1fr;
  width: 100%;
  height: 100vh;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: Gradient 15s ease infinite;
  box-sizing: border-box;
}
h1 {
  display: flex;
}

.button-self {
  align-self: center;
  background-color: rgb(28, 244, 28);
  width: 20%;
  margin-left: 170px;
  padding: 8px 5px;
  font-size: 20px;
  border: 1px solid grey;
  border-radius: 8px;
  cursor: pointer;
}
.button-self:hover{
  background-color: green;
  color:white;
 border-radius: 20px;
}

label {
  margin-bottom: -20px;
  font-size: 20px;
}
.login-form {
  grid-column: 2;
  grid-row: 2;
  display: grid;
  grid-gap: 8px;
  margin: 10px 10px 180px 0;
  width: 40%;
  padding: 0 40px 0 40px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 32px 64px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  white-space: nowrap;
  transition: 1s alternate;
}
.inputField {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  width: 100%;
  font-size: 20px;
  overflow: hidden;
  
}
.inputField2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 60px 0px 10px 0;
}
.input-box {
  width: 300px;
  overflow: hidden;
  border: 1px solid grey;
  padding: 10px;
  border-radius: 10px;
}
.label {
  padding-bottom: 20px;
}
@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
