@import url("https://fonts.googleapis.com/css?family=Jura:400");
* {
  font-family: Jura, Arial;
  font-weight: 400;
}
body {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
.container {
  display: grid;
  grid-template-columns: 1fr minmax(200px 400px) 1fr;
  grid-template-rows: 1fr minmax(auto 1fr) 1fr;
  width: 100%;
  height: 100vh;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  padding: 200px 0 350px 0;
  animation: Gradient 15s ease infinite;
  box-sizing: border-box;
}
h1 {
display: flex;

}

button {
  background-color: rgb(28, 244, 28);
  width:20%;
  align-self: center;
  margin-top:30px
}

label{
 margin-bottom: -20px;
 font-size: 20px;
}
form{
  grid-column: 2;
  grid-row: 2;
  display: grid;
  grid-gap: 5px;
  margin: auto 0;
  padding: 20px;
  background-color: rgba(255,255,255,0.9);
  border-radius: 10px;
  box-shadow: 0 32px 64px rgba(0,0,0,0.2);
  overflow: hidden;
}
.inputField{
  display: flex;
flex-direction: column;
gap:20px;  
font-size: 20px;
padding: 60px 0px 60px 0;
}
@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
